@{
    ViewBag.Title = "Inicio";
}


<div class="jumbotron">
    <h2>Base de Datos BDMovil</h2>
    <p class="lead" style="">BDMovil es un sitio web que simula la base de datos de una Intranet, especialmente creada para ser usada en la aplicacion "IntraMovil"</p>
</div>

