@model RellenoBD.alumno_has_seccion

@{
    ViewBag.Title = "Details";
}

<h2>Detales Sección de Alumno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Alumno
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alumno.Nombre)
        </dd>

        <dt>
            Sección
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccion.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
