@model RellenoBD.carrera_asignatura

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles de Asignatura de Carrera</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Asignatura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asignatura.Nombre)
        </dd>

        <dt>
            Carrera
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
